<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open HackSpace Stockholm</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="wrapper">

      <header>
        <h1><a class="title" href="/">Open HackSpace Stockholm</a></h1>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>

  </body>
</html>